* {
  margin: 0;
  padding: 0;
}

body {
  padding-left: 20%;
  padding-right: 20%;
  background-color: lightyellow;
  font-family: Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 1rem;
  font-size: 50px;
  margin-top: 5%;
}

p {
  font-weight: larger;
  font-size: 20px;
}

img {
  margin-top: 3%;
  width: 26.7%;
  -webkit-box-align: baseline;
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 10%;
}
